{% extends 'base.html.twig' %}

{% block title %}Hello Aspirator!{% endblock %}

{% block container %}
    <h1>Aspirations تطلع</h1>
    <h2>Development التنمية</h2>
    <h3>A relationship with yourself</h3>
    <h3>self-love حب الذات</h3>
    <dl>
        <dt>aspirations تطلع</dt>
        <dd>a hope or ambition of achieving something.</dd>
        <dt>development التنمية</dt>
        <dd>the process of developing or being developed.</dd>
        <dt>developing تطوير</dt>
        <dd>growing and becoming more mature, advanced, or elaborate.</dd>
        <dt>developed طورت</dt>
        <dd>advanced or elaborated to a specified degree.</dd>
        <dt>self-love حب الذات</dt>
        <dd>regard for one's own well-being and happiness.</dd>
        <dt>relationship علاقة</dt>
        <dd>the way in which two or more people or things are connected, or the state of being connected.</dd>
    </dl>
{% endblock %}
