{% extends 'base.html.twig' %}

{% block title %}Classification of needs!{% endblock %}
{% block container %}
    {{ knp_menu_render('home',  {'currentClass': 'active', 'template': '_menu_knp_bootstrap5.html.twig'}) }}
    <h2>Classification of needs!</h2>
    <ol>
        <li>Eat Well</li>
        <li>Smoke Less</li>
        <li>Exercise</li>
        <li>Sleep Well</li>
        <li>Rest</li>
    </ol>
    <div class="d-flex justify-content-center flex-wrap">
        {% for topic, items in topics %}
            <div class="card flex-fill">
                <div class="card-header">
                    <h2>{{ topic }}</h2>
                </div>
                <div class="list-group">
                    {% for item in items %}
                        <div class="list-group-item">{{ item|raw }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
