{% extends 'base.html.twig' %}

{% block title %}Routines!{% endblock %}
{% block card_actions %}
    {{ knp_menu_render('home',  {'currentClass': 'active', 'template': '_menu_knp_bootstrap5.html.twig'}) }}
{% endblock %}
{% block body %}
    <div class="row">
        {% for routine in routines %}
            <div class="col">
                <header>{{ routine.name }}</header>
                <ol>
                    {% for item in routine.routine %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ol>
            </div><!-- .col -->
        {% endfor %}
    </div>
{% endblock %}
