{% extends 'base.html.twig' %}

{% block title %}New Expense Inbox{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_expense_inbox_index') }}"><em class="bi bi-arrow-left"></em></a>
{% endblock %}

{% block body %}
    {{ include('expense_inbox/_form.html.twig') }}
{% endblock %}