@import './helper/variables';

/**
  * The following content was designed & implemented under AlexSeif.com
 **/
#calendar-view {
  header {
    display: flex;
    margin-bottom: 2em;
  }

  ul, ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 0 auto;
    max-width: 64em;
    padding: 0;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 0;
    font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
  }

  ul.weekdays {
    margin-bottom: 1em;
  }

  ul.weekdays li {
    height: 4vw;
  }

  ol.day-grid li {
    border: 1px solid #eaeaea;
    height: 12vw;
    max-height: 125px;
  }

  ul.weekdays abbr[title] {
    border: none;
    font-weight: 800;
    text-decoration: none;
  }

  .not_this-month {
    color: $gray-300;
  }

  .day {
    width: 100%;
    height: 100%;
  }

  @media all and (max-width: 800px) {

    ul.weekdays li {
      font-size: 0;
    }

    ul.weekdays > li abbr:after {
      content: attr(title);
      font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
      text-align: center;
    }
  }
}
