<form method="post" action="{{ path('app_chronometer_delete', {'id': chronometer.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chronometer.id) }}">
    <button class="btn btn-delete btn-danger"><em class="bi bi-trash"></em></button>
</form>
