{% extends 'base.html.twig' %}

{% block title %}New Chronometer{% endblock %}

{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_chronometer_index') }}"><em
                class="bi bi-arrow-left"></em></a>
{% endblock %}

{% block body %}
    {{ include('chronometer/_form.html.twig') }}
{% endblock %}
