{% extends 'base.html.twig' %}

{% block title %}New WeightLog{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_weight_log_index') }}"><em class="bi bi-arrow-left"></em></a>
{% endblock %}
{% block body %}
    {{ include('weight_log/_form.html.twig') }}
{% endblock %}
