{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-actions">
    <div class="btn-group">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div><!-- .btn-group -->
</div><!-- .form-actions -->
{{ form_end(form) }}
