{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_item_show', {'id':item.id, 'type':type}) }}"><em
                class="bi bi-arrow-left"></em></a>
{% endblock %}
{% block card_actions %}
    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
