{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}
{% block page_actions %}
    <a href="{{ path('app_item_index') }}" class="btn btn-link">back</a>
    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
{% block content %}
    {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
