{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}
{% block page_actions %}
    <a class="btn-outline-dark" href="{{ path('app_item_index') }}"><em class="bi bi-arrow-left"></em></a>
{% endblock %}

{% block body %}
    {{ include('item/_form.html.twig') }}
{% endblock %}
