{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}
{% block page_actions %}
    <a href="{{ path('app_item_index') }}">back to list</a>
{% endblock %}

{% block body %}
    {{ include('item/_form.html.twig') }}
{% endblock %}
